.nav-cont {
    background-color: white;
}
* {
    overflow: hidden;
}

#gc-main {
    background-image: url(../../assets/images/try-s.png);
}
.box-big {
    box-shadow: 1px 8px 20px grey;
    min-height: 555px;
    margin: 50px;
    margin-left: 20px;
    margin-right: 2px;
    background-color: white;
}
.small-boxes {
    box-shadow: 1px 8px 20px grey;
    min-height: 330px;
    margin: 50px;
    width: 90%;
    margin-right: 50px;
    margin-left: 10px;
    background-color: white;
}
.small-boxes {
    box-shadow: 1px 8px 20px grey;
    min-height: 270px;
    margin: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}
.top-box {
    margin-bottom: 15px;
}

.bottom-box {
    margin-top: 15px;
}
hr {
    width: 90%;
}
textarea {
    margin: auto;
    text-align: center;
    padding: 20px !important;
    width: 90%;
}

input {
    margin: auto;
    text-align: center;
    padding: 3px !important;
    width: 90%;
    margin-bottom: 4px;
}
.small-boxes img {
    text-align: center;
    margin: auto;
    max-width: 60%;
}
.statenumber {
    font-weight: 700 !important;
    margin-top: 5px !important;
    font-size: 18px;
    margin-bottom: 5px !important;
}
.helplinecol {
    margin-left: 0px;
    padding-left: 0px;
}
p {
    margin: 0;
    padding: 0;
}
@media (max-width: 767px) {
    .box-big {
        min-height: 555px;
        margin-left: 10px;
        max-width: 95%;
    }
    .small-boxes {
        min-height: 400px;
        width: 95%;
        margin-left: 10px;
    }
    .small-boxes img {
        text-align: center;
        margin: auto;
        max-width: 30%;
        margin-bottom: 20px;
    }
}
select {
    background-color: #f08f6f;
    width: 80%;
    margin: auto;
    text-align: center;
    color: black;
}
select:focus,
select:active {
    background-color: #f08f6f;
    width: 80%;
    margin: auto;
    text-align: center;
    color: black;
}
