<div>
    <div class="row">
        <div  class='col' style="display: block;width:40%;height: 30%;">
            <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="BarChartColors"
              [chartType]="barChartType">
            </canvas>
        </div>
        <div  class='col' style="display: block;width:60%;height: 30%;">
            <canvas baseChart
              [datasets]="stateBarData"
              [labels]="stateBarChartLabels"
              [options]="stateBarChartOptions"
              [legend]="stateBarChartLegend"
              [chartType]="stateBarChartType">
            </canvas>
        </div>
        <div  class='column' style="display: block;width:60%;height: 30%;">
            <canvas baseChart
              [datasets]="PieData"
              [labels]="PieChartLabels"
              [options]="pieChartOptions"
              [colors]="pieChartColors"
              [chartType]="PieChartType">
            </canvas>
        </div>
    </div>
  </div>  
  