<div class="main">
  <app-navbar></app-navbar>
  <div class="heading-top">
    <h1><span style="color: #f46232; margin-left: 80px;">Over</span>view</h1>
    <hr style="width: 90vw;">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="heading">
          <div class="vl">
            <h3 style="margin-left: 10px; color: #1c84c6;">Total Cases</h3>
          </div>
          <hr>
          <h2 style="margin-left: 40%;">{{totalconfirmed}}</h2>
        </div>
      </div>
      <div class="col-sm">
        <div class="heading">
          <div class="vl1">
            <h3 style="margin-left: 10px; color: #f14338;">Total Deaths</h3>
          </div>
          <hr>
          <h2 style="margin-left: 40%;">{{totaldeceased}}</h2>
        </div>
      </div>
      <div class="col-sm">
        <div class="heading">
          <div class="vl2">
            <h3 style="margin-left: 10px; color: #78bd78;">Total Recovered</h3>
          </div>
          <hr>
          <h2 style="margin-left: 40%;">{{totalrecovered}}</h2>
        </div>
      </div>
    </div>
  </div>
  <h1 class="specialbeds" style=" margin-left: 80px; margin-top: 20px;"><span style="color: #f46232;">Countrywise</span>
    Data</h1>
  <hr style="width: 90vw;">
  <div class="beds">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Country</th>
          <th scope="col">Total Cases</th>
          <th scope="col">Total Deaths</th>
          <th scope="col">Total Recovered</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of countrywiseData">
          <th scope="row">{{p.country}}</th>
          <td>{{p.cases}}</td>
          <td>{{p.deaths}}</td>
          <td>{{p.recovered}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>