.navbar{
    background-color: transparent;
    
}
.navbar-end a{
    
    font-weight: 400;
    font-size: 20px;
}
.navbar-end a:hover
{
    border-bottom: solid 2px #f56133;
    background: inherit;
}

.log{
    height: 50px;
    width: 50px;
}
.navbar-item{
    padding-left: 10px;
}
