<div class="main">
  <app-navbar></app-navbar>




  <div class="heading-top">
    <h1><span style="color: #f46232; margin-left: 80px; ">Statistics</span>-India</h1>
    <h6 style="float: right;">Your location :<span style="color: #f46232;"> {{state}}</span>
    </h6>
    <hr style="width: 90vw;">

  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="heading">
          <div class="vl">
            <h3 style="margin-left: 10px; color: #1c84c6;">Total Cases</h3>
          </div>
          <hr>
          <h2 style="margin-left: 40%;">{{totalconfirmed}}</h2>
        </div>
      </div>
      <div class="col-sm">
        <div class="heading">
          <div class="vl1">
            <h3 style="margin-left: 10px; color: #f14338;">Total Deaths</h3>
          </div>
          <hr>
          <h2 style="margin-left: 40%;">{{totaldeceased}}</h2>
        </div>
      </div>
      <div class="col-sm">
        <div class="heading">
          <div class="vl2">
            <h3 style="margin-left: 10px; color: #78bd78;">Total Recovered</h3>
          </div>
          <hr>
          <h2 style="margin-left: 40%;">{{totalrecovered}}</h2>
        </div>
      </div>
    </div>
  </div>

  <section class="chart">
    <div class="container">
      <div class="row">
        <div class="col">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [colors]="BarChartColors" [chartType]="barChartType">
          </canvas>
        </div>
        <div class="col">
          <canvas baseChart [datasets]="PieData" [labels]="PieChartLabels" [options]="pieChartOptions"
            [colors]="pieChartColors" [chartType]="PieChartType">
          </canvas>
        </div>
      </div>
      <div class="bar">

        <div class="row">
          <div class="mid">
            <h1><span style="color: #f46232;">State-Wise</span> Analysis</h1>
          </div>

          <canvas baseChart [datasets]="stateBarData" [labels]="stateBarChartLabels" [options]="stateBarChartOptions"
            [legend]="stateBarChartLegend" [chartType]="stateBarChartType">
          </canvas>
        </div>
        <div class="row">
          <div class="beds container">
            <app-beds></app-beds>
          </div>
        </div>

      </div>




    </div>

  </section>

  <!-- <h1><span style="color: #f46232; margin-left: 80px; margin-top: 20px;">Availability</span> of Beds and Hospitals</h1>
  <hr style="width: 90vw;">
  <div class="beds container">
    <app-beds></app-beds> -->
  <!-- </div> -->

</div>

<div class="select">


  <!-- <div class="container">
      <div class="row">
        
        <img src="../../../assets/images/Image.svg" class="foot-im" alt="globe"><span><h1 class="end">Check World Statastics</h1></span>
    </div> -->

  <div class="container">
    <div class="row">

      <img src="../../../assets/images/Image.svg" class="foot-im" alt="globe"><span><button
          class="gc-button specialcheckworld" routerLink="/worldstats">
          <h1 class="checkworld">Check World Statistics</h1>
        </button></span>
    </div>

  </div>