/* * {
    overflow-x: hidden;
} */
.vl {
    border-left: 6px solid #1c84c6;
    height: 40px;
}

.vl1 {
    border-left: 6px solid #f14338;
    height: 40px;
}

.vl2 {
    border-left: 6px solid #78bd78;
    height: 40px;
}

.col-sm {
    margin-left: 20px;
    box-shadow: 1px 8px 20px grey;
    margin-top: 20px;

    padding: 15px;
    background-color: white;
}

.chart {
    margin-top: 40px;
    margin-bottom: 40px;
}

.col {
    box-shadow: 1px 8px 20px grey;
    margin-left: 20px;
    padding: 15px;
    background-color: white;
    margin-top: 20px;
}

.bar .row {
    margin-top: 25px;
    margin-left: 7px;
    box-shadow: 1px 8px 20px grey;
    padding: 20px;
    background-color: white;
}

.beds {
    height: 500px;
    overflow-y: scroll !important;
}
.mid {
    margin-left: 35%;
    margin-bottom: 10px;
}
.head-bw {
    color: #f46232;
    margin-left: 80px;
}
.heading-top h6 {
    padding-right: 100px;
    margin-top: -20px;
}

.foot-im {
    height: 280px;
}
.select .row {
    box-shadow: 1px 8px 20px grey;
    margin-left: 10px;
    margin-bottom: 30px;
    padding: 35px;
    padding-left: 100px;
    border-radius: 20px;
}
.gc-button {
    margin-top: 80px;
    margin-left: 70px;
    background-color: #f46232;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

@media (max-width: 850px) {
    .select .row {
        padding-left: 10px;
    }
    .foot-im {
        height: 150px;
    }
    .gc-button {
        margin-left: 10px;
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .heading-top h6 {
        padding-right: 20px;
        margin-top: -10px;
    }
    .col {
        margin-right: 15px;
        padding: 0;
    }
    .col-sm {
        margin-right: 15px;
    }

    .bar .row {
        margin-right: 5px;
        padding: 0;
    }
    .head-bw {
        margin-left: 50px;
    }
    .mid {
        display: none;
    }
    canvas {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .foot-im {
        margin-left: 30%;
    }

    .select .row {
        padding-left: 10px;
        margin-right: 10px;
    }
    .gc-button {
        padding: 5px;
        margin-right: 10px;
    }
    .checkworld {
        font-size: 20px;
    }
    .specialcheckworld {
        margin-left: 30px;
    }
}
