
<div class="main">
	<app-navbar></app-navbar>
	<div id="boxes">
		<div class="leftbox">
			<img src="../../assets/images/doctor-manlist.svg" class="image">
		</div>
		<div class="middlebox">
			<h2 style="text-align: center; margin-top: 20px;"><span style="color: #f56133;">Stores</span> Near You</h2>
            
            
            <!-- <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul> -->
            
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">abc medicos</th>
                    <td>Chemist</td>
                    <td>123456789</td>
                    <td>temple street</td>
                  </tr>
                  <tr>
                    <th scope="row">abc medicos</th>
                    <td>Chemist</td>
                    <td>123456789</td>
                    <td>temple street</td>
                  </tr>
                  <tr>
                    <th scope="row">abc medicos</th>
                    <td>Chemist</td>
                    <td>123456789</td>
                    <td>temple street</td>
                  </tr>
                  <tr>
                    <th scope="row">abc medicos</th>
                    <td>Chemist</td>
                    <td>123456789</td>
                    <td>temple street</td>
                  </tr>
                </tbody>
              </table>
	</div>
</div>