.main {
    background-image: url(../../assets/images/regester_.png);
    height: 100vh;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 15px;
}

.leftbox {
    float: left;

    width: 25%;
    height: 280px;
}

.image {
    height: 75vh;
    margin-top: 9%;
    margin-left: 35%;
}
.middlebox {
    float: left;
    background: white;
    width: 54%;
    height: 440px;
    overflow-y: scroll;
    margin-left: 15vw;
    margin-top: 40px;
    box-shadow: 1px 8px 20px grey;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    padding-bottom: 30px;
}

.reg-form {
    padding: 60px;
    width: 50vw;
    align-self: center;
    padding-top: 20px;
}

h2 {
    padding-bottom: 20px;
}
.cityInput{
    width: 10em;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
}
.citybutton{
    color: white;
    border-radius: 5px;
}
@media screen and (max-width: 1060px) {
    .main {
        background-image: url(../../assets/images/ipad-bg-1.png);
        width: 100vw;
    }
    .image {
        display: none;
    }
    .middlebox {
        margin: auto;
        margin-top: 40px;
        overflow-x: scroll;
    }
}

@media screen and (max-width: 776px) {
    .main {
        background-image: url(../../assets/images/ipad-bg-1.png);
        width: 100vw;
        overflow-x: scroll;
    }
}

@media screen and (max-width: 776px) {
    .middlebox {
        width: 97%;
        height: 100%;
        margin: auto;
        margin-left: 4px;
        margin-bottom: 40px;
        margin-top: 45px;
    }

    .leftbox {
        display: none;
    }

    .reg-form {
        padding: 20px;
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .middlebox {
        padding: 0 !important;
        margin-top: 25px;
    }
    table {
        overflow: scroll;
    }
    #myModal {
        height: 80%;
    }
    * {
        overflow-x: auto;
    }
}
