nav,
.navbar {
    background-color: transparent;
    width: 100%;
}
.nav-link {
    color: #000 !important;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    margin-left: 7px;
    margin-right: 7px;
    transition: 0.16s ease-in all;
}
.active {
    border: 0px 0px 10px 0px solid #000 !important;
    transition: 0.26s ease-in all;
}

.nav-link:hover {
    border-bottom: 1px solid #000;
    padding-left: 20px;
    padding-right: 20px;
}
.animated-icon2 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    outline: none !important;
    border: none !important;
}

.animated-icon2 span {
    background: #000000;
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}
/* .navbar{
  background-color: transparent;
  
}
.navbar-end a{
  
  font-weight: 400;
  font-size: 20px;
}
.navbar-end a:hover
{
  border-bottom: solid 2px #f56133;
  background: inherit;
}

.log{
  height: 50px;
  width: 50px;
}
.navbar-item{
  padding-left: 10px;
}

a:link{
  color: black;

}
a:hover{
  text-decoration: none;
}
a:active{
  color: #f56133;
}
a:visited{
  color: black;
  
} */
