body {
  height: 100vh;
  width: 100vw;
  
  background-size: cover;
  position: relative;
}
.box {
  width: 800px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #000;
  position: absolute;
  margin-top: 70px;
  margin-left: 500px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding: 30px;
}
.box h1 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
span {
  color: #f56133;
  font-weight: 600;
}
form {
  margin-top: 40px;
}
form button {
  background: #f56133;
  transition: 0.25s ease-in all;
  color: white;
  width: 30%;
  margin-top: 15px;
}
form label {
  font-size: 19px;
  font-weight: 400;
}
form button:hover,
form button:active,
form button:focus {
  background-color: #c94016;
  box-shadow: 7px 4px 4px 2px rgba(109, 51, 17, 0.284);
}
form input:hover,
form input:active,
form input:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 174, 0, 0.25);
  outline: none;
  border: #c94016;
}
@media (max-width: 1000px) {
  .box {
    margin: 40px 8px;
    width: 95%;
    height: 150%;
  }
  form button {
    width: 45%;
  }
}
