
<div class="main">
    <app-navbar></app-navbar>
    <div id = "boxes"> 
                  
          <div class = "leftbox"> 
              <img src="../../assets/images/mask-woman.svg" class="image" >
          </div>  
        
          <div class = "middlebox"> 

              <h2 style="text-align: center; margin-top: 20px;"><span style="color: #f56133;">Register</span> Your Store</h2>
              <hr>
              
              <form class="reg-form">
                  <div class="form-row">
                    <div class="form-group col-sm-6">
                      <label for="storeName">Store Name</label>
                      <input type="text" class="form-control" id="storeName">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="owner">Owner's Name</label>
                      <input type="text" class="form-control" id="owner">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="catagory">Store Category</label>
                      <input type="text" class="form-control" id="catagory">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="contact">Contact Number</label>
                      <input type="number" class="form-control" id="contact">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="">
                  </div>
                                                          
                  <button type="submit" style="margin-left: 42%; margin-top: 10px; background-color: #f56133; border: 0ch;" class="btn btn-primary">Submit</button>
                </form>
              
          </div> 
        
         
  </div> 
</div>