<div class="nav-cont">
    <app-navbar></app-navbar>
</div>
<div id="gc-main">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="box-big">
                <h2 style="text-align: center; margin-top: 20px;">Manage patient<span style="color: #f56133;">
                        Queries</span>
                </h2>
                <hr>
            </div>
        </div>
        <div class="col-md-6">
            <div class="small-boxes top-box">
                <h2 style="text-align: center; margin-top: 20px;">Send <span style="color: #f56133;">Notification</span>
                </h2>
                <hr>
            </div>
            <div class="small-boxes bottom-box">
                <h2 style="text-align: center; margin-top: 20px;"><span style="color: #f56133;">Update </span>Status
                </h2>
                <hr>
            </div>
        </div>
    </div>
</div>