.navbar{
    background-color: rgba(245, 97, 51,0.5);
    
}
.navbar-end a{
    
    font-weight: 400;
    font-size: 20px;
}
.navbar-end a:hover
{
    border-bottom: solid 2px #f56133;
    background: inherit;
}

.gc-hero-text h1
{
    color: rgba(245, 97, 51,1);
    font-weight: 625;
    font-size: 105px;
    padding-top: 75px;
    
}
.gc-hero-text
{
    margin-left: 100px;
    padding-bottom: 50px;
}
.gc-hero-text p{
    font-size: 40px;
    font-weight: 500;
    
}
.gc-get-started
{    
    background-color: rgba(245, 97, 51,1);
    border-radius: 10px;
    border-width: 0px;
    color: white;
    font-size: 30px;
    
}

hr
{
    background-color: rgba(245, 97, 51,1);
    margin-left: 50px;
    margin-right:50px;
    margin-top: 30px;
}
.gc-c{
    color: rgba(245, 97, 51,1)  ;
}
.gc-corona-img{
    height: 450px;
    width: 450px;
    margin-left: 75px;
    margin-top: 50px;
}

.gc-facts-text h1
{
    font-size: 85px;
}
.gc-f{
    color:rgba(245, 97, 51,1)
}
.gc-check
{
    color: white;
    font-size: 35px;
    border-radius: 10px;
    background-color: rgba(245, 97, 51,1);
    border-style: none;
    margin: auto;
    display: block;
}
.gc-e{
    color: rgba(245, 97, 51,1);
}
.gc-store{
    color: white;
    font-size: 35px;
    border-radius: 10px;
    background-color: rgba(245, 97, 51,1);
    border-style: none;
    margin: auto;
    display: block;
}
.gc-grocery-text h3{
    margin-left: 10px;
    text-align: justify;
    font-size: 50px;
}
.gc-store-button
{
    padding-left: 30px;
    padding-right: 30px;
}
.gc-check-button
{
    padding-left: 30px;
    padding-right: 30px;
}
.gc-grocery-text h1{
    font-size: 65px;
}

.gc-grocery-text p{
    font-size: 30px;
}
.gc-app
{
    color: white;
    font-size: 35px;
    border-radius: 10px;
    background-color: rgba(245, 97, 51,1);
    border-style: none;
    margin: auto;
    display: block;
}
.gc-n{
    color: rgba(245, 97, 51,1);
}
.gc-appointment h1{
    text-align: center;
    font-size: 50px;
}
.gc-appointment-button{
    font-size: 40px;
}
.gc-footer{
    background-color: rgba(245, 97, 51,0.5);
}
.br{
    line-height: 125px;
}