body {
    font-family: "Lato", sans-serif;
    background-color: #f7f7f8;
    
  }
  
  .sidebar {
    height: 100%;
    width: 85px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(../../../images/nav.png);
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 60px;
    white-space: nowrap;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  main .sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .material-icons,
  .icon-text {
    vertical-align: middle;
  }
  
  .material-icons {
    padding-bottom: 3px;
    margin-right: 30px;
  }
  
  #main {
    padding: 16px;
    margin-left: 85px;
    transition: margin-left 0.5s;
    background-color: #f7f7f8;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }
  
  .main {
    grid-area: main;
    background-color: white;
    margin-left: 85px;
  
  }
  
  .col-sm{
    margin-top: 40px;
    background-color: white;
    margin-left: 30px;
    height: 130px;
    box-shadow: 1px 8px 20px grey;
    
    
  }
  
  .verticalLine {
    margin-top: 15px;
    margin-left: 15px;
    border-left: thick solid #654fff;
  }
  
  .verticalLine2 {
    margin-top: 15px;
    margin-left: 15px;
    border-left: thick solid red;
  }
  
  .verticalLine3 {
    margin-top: 15px;
    margin-left: 15px;
    border-left: thick solid #78bd78;
  }
  
  .name{
    padding-left: 10px;
    color: #654fff;
  }
  
  .name2{
    padding-left: 10px;
    color: red;
  }
  
  .name3{
    padding-left: 10px;
    color: #78bd78;
  }
  
  .desc{
    margin-left:100px ;
  }
  
  .col-sm-mp{
    margin-top: 50px;
    background-color: white;
    margin-left: 30px;
    height: 550px;
    width: 81vw;
    box-shadow: 1px 8px 20px grey;
    margin-bottom: 20px;
  }
  
  
  
  #chartdiv{
    width: 81vw;
    height: 550px;
  }
  
  
  
  
  .heading{
    margin-left: 50px;
    margin-top: 30px;
  }
  
  .new{
    color: #f56133;
  }