
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic minima nemo qui quisquam ullam. Fugit, quam corrupti quibusdam reiciendis dicta tempora doloribus veritatis velit excepturi nulla ipsum, rem, fugiat autem.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Services</h6>
          <ul class="footer-links">
            <li><a>Doctor</a></li>
            <li><a>Get Tested</a></li>
            <li><a>Live Status</a></li>
            <li><a>Open Stores</a></li>
                       
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a>Helplines</a></li>
            <li><a>WHO Guidelines</a></li>
            <li><a>IMA Guidelines</a></li>
                       
          </ul>
        </div>
      </div>
      <hr style="border-color: black;">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">
              Made with ❤ by team #include
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>