<div class="jumbotron bg-white text-center">
    <h1 class="display-4"></h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque sit magni modi a illo dignissimos quos sunt praesentium distinctio? Asperiores alias molestiae ab voluptatibus impedit eveniet adipisci cumque dignissimos minus.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, quod. Aut amet cum laboriosam voluptate alias sit recusandae, aperiam ullam, molestias mollitia nobis doloremque exercitationem! Qui perferendis consequatur rerum libero.</p>
</div>

